# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual envs
venv/
ENV/

# Git
.git/
.gitignore

# OS & IDE
.DS_Store
.idea/
.vscode/

# Alembic (optional)
alembic/versions/

# Test files & cache
.pytest_cache/
coverage.*
htmlcov/
*.log

# Env config
.env
.env.*
